input:focus + label, input:not(:placeholder-shown) + label{
    font-size: 1rem;
    bottom: 25px;
}

.cadastro{
    display: flex;
    justify-content: center;
    background-color: #293B5F;
    padding: 1rem;
}

.cadastro_caixa{
    color: var(--azul-escuro);
    background-color: var(--cinza);
    border-radius: 10px;
    padding: 2rem;
    font-size: 1.25rem;
    min-width: 420px;
    width: 700px;
}


.cadastro_formulario_caixa{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    position: relative;
}

label{
    font-weight: 400;
    position: absolute;
    bottom: 5px;
    left: .5rem;
    transition: all 200ms;
}

.formulario fieldset input{
    border: none;
    background-color: var(--cinza);
    border-bottom: 1px solid var(--azul-escuro);
    padding: 1.2rem .5rem .5rem .5rem ;
    outline: none;
}

.cadastro-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1rem;
}

.cadastro-cabecalho__logo {
    width: 2.625rem;
    margin-bottom: 0.5rem;
}

.cadastro-cabecalho__titulo {
    font-family: var(--fonte-familia-logo);
    font-size: var(--fonte-tamanho-logo);
    margin-bottom: 1rem;
}

.formulario {
    margin-top: 2rem;
}

.formulario fieldset{
    border: none;
}


.cadastro_formulario_legenda{
    font-size: 1.5rem;
    font-weight: 600;
}

.cadastro_formulario_enviar{
    text-align: center;
}

.cadastro_formulario_botao{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
    color: white;
    border: none;
    background-color: var(--azul);
    padding: 1.3rem 3rem ;
    border-radius: 50px;
    transition: 300ms;
}

.cadastro_formulario_botao:hover{
    background-color: var(--azul-escuro);
    cursor: pointer;
}
