.principal{
    background-color: var(--cinza-claro);
    padding: 1rem;
}

.principal_caixa{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    text-align: center;
}

.principal_caixa li{
    width: 420px;
    height: 244px;
    border-radius: 25px;
    margin: 1rem;
    padding: 1rem;
    color: var(--azul-escuro);
}

.principal_gratuito{
    background-color: var(--amarelo);
}

.principal_pago{
    background-color: var(--verde);
}

.principal_familia{
    background-color: var(--vermelho);
}

@media screen and (min-width:  768px) {
	.principal{
        padding: 1rem 3rem;
    }
}