.principal{
    background-color: #293B5F;
    padding: 1rem;
}

.principal_caixa{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}

.principal_caixa section{
    width: 420px;
    height: 244px;
    background-color: var(--cinza);
    border-radius: 25px;
    margin: 1rem;
}

@media screen and (min-width:  768px) {
	.principal{
        padding: 1rem 3rem;
    }
}